<!DOCTYPE html>
<html>
<head>
    <title>TODO</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <link rel="stylesheet" href="styles/fa9a632f.main.css">
    <script src="scripts/vendor/a52a8685.modernizr.js"></script>

    <script src="scripts/e1cc0c75.vendor.js"></script>

    <script src="scripts/31f80429.main.js"></script>
</head>
<body>

    <div class="error"></div>
    <div class="container main_container"></div>

</body>
</html>